
@if variable-exists(user_default_vars) {
  $user_default_vars : generatergbvalues($user_default_vars);
  $default_vars : map-merge($default_vars,$user_default_vars);
}

$header-color-array:(
  'color-site-name',
  'color-site-caption',
	'color-header-background',
  'color-topbar-background',
  'color-navigation',
  'color-navigation-hover-active-text-arrow',
  'color-navigation-hover-active-arrow-text',
  'color-navigation-hover-active-effect',
  'color-navigation-hover-active-arrow-background',
  'color-hover-active-text-style-02-03-navigation',
  'color-hover-active-text-style-06-navigation',
  'color-navigation-bar-background',
  'color-navigation-bar-style-05-background',
  'color-contact-info',
  'color-social-icon',
  'color-portal',
  'color-mobile-burger-icon',
  'color-search-cart-icon',
  'color-currency-option',
  'color-7th-header-style-cart-divider-border',
  'color-7th-header-style-cart-icon'
);

$default_vars : color-header($default_vars,$header-color-array);

$menu-var-array:(
  'font-size-navigation',
  'color-navigation',
  'color-navigation-hover-active-arrow-text',
  'font-family-navigation',
  'font-weight-navigation',
  'font-transform-navigation',
  'font-line-height-navigation-normal',
  'font-letter-spacing-navigation',
  'font-size-submenu',
  'color-submenu',
  'color-submenu-hover-active-text',
  'font-family-submenu',
  'font-weight-submenu',
  'font-transform-submenu',
  'font-line-height-submenu',
  'font-letter-spacing-submenu'
);

$megamenu-var-array:(
  'font-size-navigation':'font-size-megamenu-heading',
  'color-navigation':'color-megamenu-heading',
  'color-navigation-hover-active-arrow-text':'color-megamenu-heading-hover-active-text',
  'font-family-navigation':'font-family-megamenu-heading',
  'font-weight-navigation':'font-weight-megamenu-heading',
  'font-transform-navigation':'font-transform-megamenu-heading',
  'font-line-height-navigation-normal':'font-line-height-megamenu-heading-normal',
  'font-letter-spacing-navigation':'font-letter-spacing-megamenu-heading',
  'font-size-submenu':'font-size-megamenu-text',
  'color-submenu':'color-megamenu-text',
  'color-submenu-hover-active-text':'color-megamenu-text-hover-active-text',
  'font-family-submenu':'font-family-megamenu-text',
  'font-weight-submenu':'font-weight-megamenu-text',
  'font-transform-submenu':'font-transform-megamenu-text',
  'font-line-height-submenu':'font-line-height-megamenu-text',
  'font-letter-spacing-submenu':'font-letter-spacing-megamenu-text'
);

$default_vars : megamenu($default_vars,$megamenu-var-array);
$default_vars : mobileheader-default-value($default_vars);

@if variable-exists(need_css_vars) and $need_css_vars {
  :root{
    @include generateroot($base_vars,'--base_vars');
    @include generateroot($default_vars,'--default_vars');
    --header-value-map:#{$header-color-array};
  }
  $base_vars     : replacemapvalues($base_vars,'--base_vars');
  $default_vars  : replacemapvalues($default_vars,'--default_vars');
}
