.theme-searchresult-container {
    h3 {
        margin-block-end: 32px;
    }
}
.theme-searchresult {
    margin-block-end: 32px;
    display: flex;
    flex-flow: column;
    p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &:last-child {
        margin: 0;
    }
}
.theme-searchresult-content {
    width: 750px;
    ~ .theme-searchresult-content {
        margin-block-start: 32px;
    }
}
.theme-searchresult-heading {
    line-height: 1.3;
    font-size: calc(#{map-get($default_vars, 'font-size-text')} * 1.2);
    color: map-get($default_vars, 'color-text');
    margin-block-end: 8px;
    display: inline-flex;
    max-inline-size: 100%;
    flex-flow: column;
    cursor: pointer;
    h4 {
        display: block;
        line-height: 1.6;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: map-get($default_vars, 'color-link');
    }
    &:hover {
        color: map-get($default_vars, 'color-text');
        h4 {
            color: map-get($default_vars, 'color-link-hover');
        }
    }
}
.theme-searchresult-url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: calc(#{map-get($default_vars, 'font-size-text')} * .8);
}
.theme-searchresult-pagination {
    display: flex;
    a {
        border: 1px solid map-get($default_vars, 'color-searchresult-pagination-border');
        background: map-get($default_vars, 'color-searchresult-pagination-background');
        border-radius: 3px;
        margin: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-inline-size: 30px;
        &:hover {
            border: 1px solid map-get($default_vars, 'color-searchresult-pagination-border-hover');
        }
    }
}
