@import "_mixin";
/* #EXCLUDEOUTPUTSTARTS */
@import "_base-variable";
/* #EXCLUDEOUTPUTENDS */
.theme-cart-area-container {
  padding: 50px 0;
}
.theme-shopping-cart-table-container {
  @include flexbox;
  @include prefix(flex-direction,column);
  @include prefix(align-items,center);
  @include prefix(flex-wrap,wrap);
  .theme-cart-table-row {
    @include flexbox;
    @include prefix(flex-direction,row);
    @include prefix(flex-wrap,wrap);
    padding: 20px 0;
    width:100%;
    border-bottom:1px solid map-get($base_vars,'color-border');
    &.theme-cart-head {
      display: none;
      padding: 10px 0;
      @include respond-to(mediumdevice) {
        @include flexbox;
      }
    }
    &.theme-cart-empty{
      display: none;
    }
    .theme-cart-table-data {
      @include prefix(flex,1 1 0%);
      @include inline-flex;
      @include prefix(align-items,center);
      &.theme-cart-items {
        @include prefix(flex,1 1 100%);
        margin-bottom: 15px;
        @include inline-flex;
        @include prefix(flex-direction,column);
        @include respond-to(smalldevice) {
          @include prefix(flex,1 1 0px);
          @include prefix(flex-direction,row);
          min-width:53%;
          margin-bottom: 0px;
          @include prefix(justify-content,flex-start);
        }
      }
      &.theme-cart-continue-shopping-button{
        margin-bottom: 10px;
        @include respond-to(mediumdevice){
          margin-bottom: 0px;
        }
      }
      &.theme-cart-controle {
        width:100px;
          @include respond-to(mediumdevice) {
          max-width:150px;
          @include prefix(justify-content,center);
        }
      }
      .theme-cart-item-img {
          width:115px;
          height: 110px;
          @include flexbox;
          @include prefix(align-items,center);
          @include prefix(justify-content,center);
          a{
            @include flexbox;
            height: 100%;
            width:100%;
            @include prefix(align-items,center);
            @include prefix(justify-content,center);
            img {
              max-width:100%;
              max-height: 100%;
              vertical-align: top;
              @include prefix(flex,0 0 auto);
              object-fit:scale-down;
            }
          }
      }
      .theme-cart-item-info {
        @include prefix(flex,1 1 0px);
        @include respond-to(smalldevice) {
          padding: 0 15px;
        }
        ul {
          display: block;
          list-style: none;
          padding: 0px;
          li {
            position: relative;
            padding-right:0px;
            // display: block;
            @include flexbox;
            @include prefix(align-items,center);
            span {
              font-weight: bold;
              padding:0 0px;
              margin: 0px 2px;
              &.theme-cart-color{
                height: 10px;
                width: 10px;
                display: inline-block;
                @include prefix(border-radius,50px);
                margin-right: 0px;
              }
            }
            &:after {
              display: none;
            }
            &:last-child {
              &:after {
                display: none;
              }
            }
            &:last-child{
              padding-bottom: 8px;
            }
          }
        }
      }
      &.theme-cart-qty {
        @include flexbox;
        @include prefix(flex-direction,column);
        width:200px;
        @include respond-to(mediumdevice) {
          @include prefix(flex-direction,row);
          min-width: 210px;
        }
        @include prefix(align-items,center);
        span {
          @include flexbox;
          width:150px;
          &.theme-qty-head {
            padding-bottom: 15px;
            @include respond-to(mediumdevice) {
              display: none;
            }
          }
        }
        input[type=text] {
          display: inline-block;
          padding: 5px;
          height: 24px;
          width:44px;
          text-align:center;
        }
        @if map-get($user_layout_vars,'product_details_style') == 01 {
          .theme-quantity-field-button{
            display: block;
            .theme-cart-update-button,
            .theme-cart-update-loading-button {
              border:0px;
              padding:3px 10px;
              @include prefix(transition,0.5s ease-in-out);
              display: none;
              margin-top:5px;
              &.theme-cart-updating{
                display: none;
                + .theme-cart-update-loading-button{
                  display: block;
                  position: relative;
                  padding: 12px 23px;
                  width: 30px;
                  .theme-cart-update-loading-dots{
                    position: absolute;
                    top: 35%;
                    display: block;
                    left: 50%;
                    @include prefix(transform,translate(-50%,-35%));
                    width: 100%;
                    line-height: 0;
                    letter-spacing: 1px;
                    font-size: 16px;
                    @include prefix(animation,LoadingStartOne 1s ease-out infinite alternate);
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        @if map-get($user_layout_vars,'product_details_style') == 02 {
          .theme-quantity-field-button{
            display: block;
            .theme-cart-update-button,
            .theme-cart-update-loading-button {
              border:0px;
              padding:3px 10px;
              margin-top: 5px;
              display: none;
              @include prefix(transition,0.5s ease-in-out);
              &.theme-cart-updating{
                display: none;
                + .theme-cart-update-loading-button{
                  @include flexbox;
                  @include prefix(align-items,center);
                  @include prefix(justify-content,center);
                  position: relative;
                  padding: 4px 15px;
                  width: 58px;
                  svg{
                    height:16px;
                    width:16px;
                    fill:currentColor;
                    @include prefix(animation,LoadingStartTwo 1.3s linear infinite);
                  }
                }
              }
            }
          }
        }
        @if map-get($user_layout_vars,'product_details_style') == 03 {
          .theme-quantity-field-button{
            display: block;
            .theme-cart-update-button,
            .theme-cart-update-loading-button {
              border:0px;
              padding:3px 10px;
              margin-top: 5px;
              @include prefix(transition,0.5s ease-in-out);
              display: none;
              &.theme-cart-updating{
                display: none;
                + .theme-cart-update-loading-button{
                  display: block;
                  position: relative;
                  padding: 12px 23px;
                  width:30px;
                  .theme-cart-update-loading-dots{
                    position: absolute;
                    top: 35%;
                    display: block;
                    left: 50%;
                    @include prefix(transform,translate(-50%,-35%));
                    width: 100%;
                    line-height: 0;
                    letter-spacing: 1px;
                    font-size: 16px;
                    @include prefix(animation,LoadingStartThree 1s ease-out infinite alternate);
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        @if map-get($user_layout_vars,'product_details_style') == 04 {
          .theme-quantity-field-button{
            display: block;
            .theme-cart-update-button,
            .theme-cart-update-loading-button {
              border:0px;
              padding:3px 10px;
              margin-top: 5px;
              display: none;
              @include prefix(transition,0.5s ease-in-out);
              &.theme-cart-updating{
                display: none;
                + .theme-cart-update-loading-button{
                  @include flexbox;
                  @include prefix(align-items,center);
                  @include prefix(justify-content,center);
                  position: relative;
                  padding: 4px 12px;
                  width:58px;
                  svg{
                    height:16px;
                    width:16px;
                    fill:currentColor;
                    @include prefix(animation,LoadingStartFour 1.3s linear infinite);
                  }
                }
              }
            }
          }
        }
        @if map-get($user_layout_vars,'product_details_style') == 05 {
          .theme-quantity-field-button{
            display: block;
            .theme-cart-qty-change,
            .theme-cart-update-loading-button {
              border:0px;
              padding:3px 10px;
              margin-top: 10px;
              display: none;
              @include prefix(transition,0.5s ease-in-out);
              margin-left: 0px;
              background-color: map-get($base_vars,'color-primary');
              &.theme-cart-updating {
                + .theme-cart-update-loading-button {
                  @include flexbox;
                  @include prefix(align-items,center);
                  position: relative;
                  padding: 5px 23px;
                  width:60px;
                  .theme-cart-button-loading-container {
                    display: inline-block;
                    width:auto;
                    @include prefix(animation, LoadingRotate 1.4s linear infinite);
                  }
                }
              }
            }
          }
        }
        @if map-get($user_layout_vars,'product_details_style') == 06 {
          .theme-quantity-field-button{
            display: block;
            .theme-cart-qty-change,
            .theme-cart-update-loading-button {
              border:0px;
              padding:3px 10px;
              margin-top: 10px;
              display: none;
              @include prefix(transition,0.5s ease-in-out);
              margin-left: 0px;
              background-color: map-get($base_vars,'color-primary');
              &.theme-cart-updating {
                + .theme-cart-update-loading-button {
                  @include flexbox;
                  @include prefix(align-items,center);
                  position: relative;
                  padding: 5px 23px;
                  width:60px;
                  .theme-cart-button-loading-container {
                    display: inline-block;
                    width:auto;
                    @include prefix(animation, LoadingRotate 1.4s linear infinite);
                  }
                }
              }
            }
          }
        }
        @if map-get($user_layout_vars,'product_details_style') == 07 {
          .theme-quantity-field-button{
            display: block;
            .theme-cart-qty-change,
            .theme-cart-update-loading-button {
              border:0px;
              padding:3px 10px;
              margin-top: 10px;
              display: none;
              @include prefix(transition,0.5s ease-in-out);
              margin-left: 0px;
              background-color: map-get($base_vars,'color-primary');
              &.theme-cart-updating{
                + .theme-cart-update-loading-button {
                  @include flexbox;
                  @include prefix(align-items,center);
                  position: relative;
                  padding: 5px 10px;
                  width:65px;
                  @include prefix(justify-content,center);
                  .theme-cart-button-loading-container {
                    display: inline-block;
                    width:auto;
                    .theme-cart-button-loading-dots {
                      display: inline-block;
                      span {
                        display: inline-block;
                        background:map-get($base_vars,'color-default');
                        width:4px;
                        height: 4px;
                        margin: 0 3px;
                        @include prefix(border-radius,5px);
                        letter-spacing: 3px;
                        @include prefix(animation, wave 1s linear infinite);
                        &:nth-child(2) {
                          animation-delay: 0.8s;
                        }
                        &:nth-child(3) {
                          animation-delay: 0.6s;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      @if map-get($user_layout_vars,'product_details_style') == 01 {
        &.theme-cart-item-remove {
          @include prefix(justify-content,flex-end);
          @include respond-to(smalldevice) {
            width:100px;
            @include prefix(justify-content,center);
          }
          .theme-cart-remove-icon {
            width: 14px;
            height: 14px;
            fill: map-get($default_vars,'color-form-error-message-text');
          }
          .theme-cart-remove-loading{
            color: map-get($default_vars,'color-form-error-message-text');
            font-size: 18px;
            display: none;
          }
          .theme-cart-item-removing{
            .theme-cart-remove-icon {
              display: none;
            }
            .theme-cart-remove-loading{
              display: block;
              @include prefix(animation,LoadingDeleteStartOne 1s ease-out infinite alternate);
              opacity: 1;
              letter-spacing: 0;
            }
          }
        }
      }
      @if map-get($user_layout_vars,'product_details_style') == 02 {
        &.theme-cart-item-remove {
          @include prefix(justify-content,flex-end);
          @include respond-to(smalldevice) {
            width:100px;
            @include prefix(justify-content,center);
          }
          .theme-cart-remove-icon {
            width: 14px;
            height: 14px;
            fill: map-get($default_vars,'color-form-error-message-text');
          }
          .theme-cart-remove-loading{
            fill: map-get($default_vars,'color-form-error-message-text');
            height: 16px;
            width: 16px;
            display: none;
          }
          .theme-cart-item-removing{
            .theme-cart-remove-icon {
              display: none;
            }
            .theme-cart-remove-loading{
              display: block;
              @include prefix(animation,LoadingDeleteStartTwo 1.3s linear infinite);
            }
          }
        }
      }
      @if map-get($user_layout_vars,'product_details_style') == 03 {
        &.theme-cart-item-remove {
          @include prefix(justify-content,flex-end);
          @include respond-to(smalldevice) {
            width:100px;
            @include prefix(justify-content,center);
          }
          .theme-cart-remove-icon {
            width: 14px;
            height: 14px;
            fill: map-get($default_vars,'color-form-error-message-text');
          }
          .theme-cart-remove-loading{
            color: map-get($default_vars,'color-form-error-message-text');
            font-size: 18px;
            display: none;
          }
          .theme-cart-item-removing{
            .theme-cart-remove-icon {
              display: none;
            }
            .theme-cart-remove-loading{
              display: block;
              @include prefix(animation,LoadingDeleteStartThree 1s ease-out infinite alternate);
              opacity: 1;
              letter-spacing: 0px;
            }
          }
        }
      }
      @if map-get($user_layout_vars,'product_details_style') == 04 {
        &.theme-cart-item-remove {
          @include prefix(justify-content,flex-end);
          @include respond-to(smalldevice) {
            width:100px;
            @include prefix(justify-content,center);
          }
          .theme-cart-remove-icon {
            width: 14px;
            height: 14px;
            fill: map-get($default_vars,'color-form-error-message-text');
          }
          .theme-cart-remove-loading{
            fill: map-get($default_vars,'color-form-error-message-text');
            height: 16px;
            width: 16px;
            display: none;
          }
          .theme-cart-item-removing{
            .theme-cart-remove-icon {
              display: none;
            }
            .theme-cart-remove-loading{
              display: block;
              @include prefix(animation,LoadingDeleteStartFour 1.3s linear infinite);
            }
          }
        }
      }
      @if map-get($user_layout_vars,'product_details_style') == 05 {
        &.theme-cart-item-remove {
          @include prefix(justify-content,flex-end);
          @include respond-to(smalldevice) {
            width:100px;
            @include prefix(justify-content,center);
          }
          .theme-remove-icon {
              width: 14px;
              height: 14px;
              fill: map-get($default_vars,'color-form-error-message-text');
          }
          .theme-cart-remove-loading{
            display: none;
            padding: 0px 3px;
            background: transparent;
            fill: map-get($default_vars,'color-form-error-message-text');
            @include prefix(animation, LoadingRotate 1.4s linear infinite);
          }
          .theme-cart-item-removing{
            .theme-remove-icon {
              display: none;
            }
            .theme-cart-remove-loading{
              display: block;
              g {
                fill: map-get($default_vars,'color-form-error-message-text');
              }
            }
          }
        }
      }
      @if map-get($user_layout_vars,'product_details_style') == 06 {
        &.theme-cart-item-remove {
          @include prefix(justify-content,flex-end);
          @include respond-to(smalldevice) {
            width:100px;
            @include prefix(justify-content,center);
          }
          .theme-remove-icon {
            width: 14px;
            height: 14px;
            fill: map-get($default_vars,'color-form-error-message-text');
          }
          .theme-cart-remove-loading{
            display: none;
            padding: 0px 3px;
            background: transparent;
            fill: map-get($default_vars,'color-form-error-message-text');
            @include prefix(animation, LoadingRotate 1.4s linear infinite);
            height:20px;
            width:20px;
          }
          .theme-cart-item-removing{
              .theme-remove-icon {
              display: none;
            }
            .theme-cart-remove-loading{
              display: block;
              g {
                fill: map-get($default_vars,'color-form-error-message-text');
              }
            }
          }
        }
      }
      @if map-get($user_layout_vars,'product_details_style') == 07 {
        &.theme-cart-item-remove {
          @include prefix(justify-content,flex-end);
          @include respond-to(smalldevice) {
            width:100px;
            @include prefix(justify-content,center);
          }
          .theme-remove-icon {
            width: 14px;
            height: 14px;
            fill: map-get($default_vars,'color-form-error-message-text');
          }
          .theme-cart-remove-loading{
            display: none;
            padding: 0px 3px;
            background: transparent;
            .theme-cart-button-loading-dots {
              display: inline-block;
              span {
                display: inline-block;
                background:RGBA(map-get($default_vars,'color-form-error-message-text-rgba'),0.5);
                width:5px;
                height:5px;
                margin: 0 3px;
                @include prefix(border-radius,8px);
                letter-spacing: 3px;
                @include prefix(animation, wave 1s linear infinite);
                &:nth-child(2) {
                  animation-delay: 0.8s;
                  background:RGBA(map-get($default_vars,'color-form-error-message-text-rgba'),0.7);
                }
                &:nth-child(3) {
                  animation-delay: 0.6s;
                  background:RGBA(map-get($default_vars,'color-form-error-message-text-rgba'),0.9);
                }
              }
            }
          }
          .theme-cart-item-removing{
            .theme-remove-icon {
              display: none;
            }
            .theme-cart-remove-loading{
              display: block;
            }
          }
        }
      }
      &.theme-cart-price-label {
        @include prefix(flex-direction,column);
        @include respond-to(mediumdevice) {
          @include prefix(flex-direction,row);
        }
        span {
          display: block;
            &.price-label {
              font-weight: bold;
              padding-bottom: 10px;
              @include respond-to(mediumdevice){
              display: none;
            }
          }
        }
      }
    }
    &:last-child {
      border-bottom:0px;
    }
    &.theme-checkout-button-area {
      @include prefix(flex-direction,column);
      padding:30px 0px 0px 0px;
      @include respond-to(smalldevice){
        @include prefix(flex-direction,row);
      }
      .theme-cart-table-data {
          @include prefix(justify-content,center);
          @include respond-to(smalldevice){
            @include prefix(justify-content,flex-start);
            @include prefix(flex-direction,row);
          }
        .theme-checkout-button, .theme-continue-shopping-button {
          @include respond-to(smalldevice){
          margin-left: auto;
        }
          padding:7px 20px;
          @include respond-to(smalldevice){
          padding: 7px 35px;
        }}
        .theme-continue-shopping-button {
          margin-left: 0px;
        }
        &.theme-cart-empty-shopping-button{
          margin-bottom: 0px;
          @include prefix(justify-content,center);
        }
        &.theme-cart-empty-checkout-buton{
          display: none;
        }
      }
    }
  }
  .theme-cart-error-empty-message{
    display: block;
    font-size:15px;
    color: map-get($base_vars,'color-secondary');
    text-align: center;
    svg{
      display: block;
      margin-bottom: 25px;
      width: 300px;
      margin : 0 auto;
      @include respond-to(mediumdevice){
        width: 416px;
      }
    }
  }
  .theme-cart-error-message-not-empty{
    display: none;
  }
  .theme-cart-quantity-error{
    color: map-get($default_vars,'color-form-error-message-text');
    margin-top:5px;
  }
}

.theme-header{
  .zpcontainer{
    .theme-navigation-and-icons{
      .theme-search-cart-non-res{
        &.theme-header-06-search-cart{
          margin-right: 0px;
        }
      }
    }
  }
}

// UPDATE AND DELETE CART LOADING KEYFRAMES STARTS

@include keyframe(LoadingStartOne){
  from{
    letter-spacing: -7px;
    opacity:0;
  }
}
@include keyframe(LoadingStartTwo){
  from{
    @include prefix(transform,rotate(-360deg));
  }
}

@include keyframe(LoadingStartThree){
  from{
    letter-spacing: -7px;
    opacity:0;
  }
}

@include keyframe(LoadingStartFour){
  from{
    @include prefix(transform,rotate(-360deg));
  }
}

@include keyframe(LoadingRotate) {
  from {
    transform:rotate(-360deg);
  }
  to {
    transform:rotate(0deg);
  }
}

@include keyframe(wave) {
    0%, 66%, 100% {
        @include prefix(transform, initial);
    }

    33% {
        @include prefix(transform, translateY(-5px));
    }
}

@include keyframe(LoadingDeleteStartOne){
  from{
    letter-spacing: -7px;
    opacity:0;
  }
}

@include keyframe(LoadingDeleteStartTwo){
  from{
    @include prefix(transform,rotate(-360deg));
  }
}

@include keyframe(LoadingDeleteStartThree){
  from{
    letter-spacing: -7px;
    opacity:0;
  }
}

@include keyframe(LoadingDeleteStartFour){
  from{
    @include prefix(transform,rotate(-360deg));
  }
}

// UPDATE AND DELETE CART LOADING KEYFRAMES END


// HIDE BURGER ICON IN SMALL DEVICES FOR CART PAGE

@media all and (max-width : 768px){
  .theme-responsive-menu-area{
    &.theme-hide-burgericon-cart-mobile{
      display: none;
    }
  }
  .zpheader-style-02{
    .theme-header{
      &.theme-header-navigation-style{
        .zpcontainer{
          &.theme-responsive-menu-area{
            &.theme-hide-burgericon-cart-mobile{
              display: none;
            }
          }
        }
      }
    }
  }
  .zpheader-style-05{
    .theme-header{
      &.theme-header-navigation-style{
        .zpcontainer{
          &.theme-responsive-menu-area{
            &.theme-hide-burgericon-cart-mobile{
              display: none;
            }
          }
        }
      }
    }
  }
}
