@import "_mixin";
/* #EXCLUDEOUTPUTSTARTS */
@import "_base-variable";
/* #EXCLUDEOUTPUTENDS */
.theme-cart-area-container {
  padding: 50px 0;
}
.theme-shopping-cart-table-container {
  @include flexbox;
  @include prefix(flex-direction,column);
  @include prefix(align-items,center);
  @include prefix(flex-wrap,wrap);
  .theme-cart-table-row {
    @include flexbox;
    @include prefix(flex-direction,row);
    @include prefix(flex-wrap,wrap);
    padding: 20px 0;
    width:100%;
    border-bottom:1px solid map-get($base_vars,'color-border');
    &.theme-cart-head {
      display: none;
      padding: 10px 0;
      @include respond-to(mediumdevice) {
        @include flexbox;
      }
    }
    &.theme-cart-empty{
      display: none;
    }
    .theme-cart-table-data {
      @include prefix(flex,1 1 0%);
      @include inline-flex;
      @include prefix(align-items,center);
      &.theme-cart-items {
        @include prefix(flex,1 1 100%);
        margin-bottom: 15px;
        @include inline-flex;
        @include prefix(flex-direction,column);
        @include respond-to(smalldevice) {
          @include prefix(flex,1 1 0px);
          @include prefix(flex-direction,row);
          min-width:53%;
          margin-bottom: 0px;
          @include prefix(justify-content,flex-start);
        }
      }
      &.theme-cart-continue-shopping-button{
        margin-bottom: 10px;
        @include respond-to(mediumdevice){
          margin-bottom: 0px;
        }
      }
      &.theme-cart-controle {
        width:100px;
          @include respond-to(mediumdevice) {
          max-width:150px;
          @include prefix(justify-content,center);
        }
      }
      .theme-cart-item-img {
          width:115px;
          height: 110px;
          @include flexbox;
          @include prefix(align-items,center);
          @include prefix(justify-content,center);
          a{
            @include flexbox;
            height: 100%;
            width:100%;
            @include prefix(align-items,center);
            @include prefix(justify-content,center);
            picture{
              @include picture-tag
            }
            img {
              max-width:100%;
              max-height: 100%;
              vertical-align: top;
              @include prefix(flex,0 0 auto);
              object-fit:scale-down;
            }
          }
      }
      .theme-cart-item-info {
        @include prefix(flex,1 1 0px);
        @include respond-to(smalldevice) {
          padding: 0 15px;
        }
        ul {
          display: block;
          list-style: none;
          padding: 0px;
          li {
            position: relative;
            padding-right:0px;
            // display: block;
            @include flexbox;
            @include prefix(align-items,center);
            span {
              font-weight: bold;
              padding:0 0px;
              margin: 0px 2px;
              &.theme-cart-color{
                height: 10px;
                width: 10px;
                display: inline-block;
                @include prefix(border-radius,50px);
                margin-right: 0px;
              }
            }
            &:after {
              display: none;
            }
            &:last-child {
              &:after {
                display: none;
              }
            }
            &:last-child{
              padding-bottom: 8px;
            }
          }
        }
      }
      &.theme-cart-qty {
        @include flexbox;
        @include prefix(flex-direction,column);
        width:200px;
        @include respond-to(mediumdevice) {
          @include prefix(flex-direction,row);
          min-width: 210px;
        }
        @include prefix(align-items,center);
        span {
          @include flexbox;
          width:150px;
          flex-wrap: wrap;
          &.theme-qty-head {
            padding-bottom: 15px;
            @include respond-to(mediumdevice) {
              display: none;
            }
          }
        }
        input[type=text] {
          display: inline-block;
          padding: 5px;
          height: 28px;
          width:44px;
          text-align:center;
          border:none;
        }
        .theme-quantity-field-button {
          .theme-product-list-quantity {
            width: 106px;
            height: 30px;
            display: flex;
            align-items: center;
            border:1px solid map-get($base_vars,'color-border');
          }
          .theme-cart-qty-inc-dec {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: transparent;
          }
          .theme-product-list-quantity-field {
            width: 50px;
            height: 100%;
            border-top: 0 none;
            border-bottom: 0 none;
            border-radius: 0px;
            text-align: center;
            padding: 0px 2px;
          }
        }
        .theme-quantity-field-button  .theme-product-list-quantity-decrease,
        .theme-quantity-field-button  .theme-product-list-quantity-increase {
          width: 30px;
          height: 100%;
          position: relative;
          text-align: center;
        }
        .theme-quantity-field-button  .theme-product-list-quantity-decrease svg,
        .theme-quantity-field-button  .theme-product-list-quantity-increase svg {
          fill: #000;
          height: 28px;
          width: 26px;
        }
        
      }
      &.theme-cart-item-remove {
        @include prefix(justify-content,flex-end);
        @include respond-to(smalldevice) {
          width:100px;
          @include prefix(justify-content,center);
        }
        .theme-cart-remove-icon {
          width: 14px;
          height: 14px;
          fill: map-get($default_vars,'color-form-error-message-text');
        }
        .theme-cart-remove-loading{
          fill: map-get($default_vars,'color-form-error-message-text');
          height: 16px;
          width: 16px;
          display: none;
        }
        .theme-cart-item-removing{
          .theme-cart-remove-icon {
            display: none;
          }
          .theme-cart-remove-loading{
            display: block;
            animation: rotation 2s infinite linear;
          }
        }
      }
      &.theme-cart-price-label {
        @include prefix(flex-direction,column);
        @include respond-to(mediumdevice) {
          @include prefix(flex-direction,row);
        }
        span {
          display: block;
            &.price-label {
              font-weight: bold;
              padding-bottom: 10px;
              @include respond-to(mediumdevice){
              display: none;
            }
          }
        }
      }
    }
    &:last-child {
      border-bottom:0px;
    }
    &.theme-checkout-button-area {
      @include prefix(flex-direction,column);
      padding:30px 0px 0px 0px;
      @include respond-to(smalldevice){
        @include prefix(flex-direction,row);
      }
      .theme-cart-table-data {
          @include prefix(justify-content,center);
          @include respond-to(smalldevice){
            @include prefix(justify-content,flex-start);
            @include prefix(flex-direction,row);
          }
        .theme-checkout-button, .theme-continue-shopping-button {
          @include respond-to(smalldevice){
          margin-left: auto;
        }
          padding:7px 20px;
          @include respond-to(smalldevice){
          padding: 7px 35px;
        }}
        .theme-continue-shopping-button {
          margin-left: 0px;
        }
        &.theme-cart-empty-shopping-button{
          margin-bottom: 0px;
          @include prefix(justify-content,center);
        }
        &.theme-cart-empty-checkout-buton{
          display: none;
        }
      }
    }
  }
  .theme-cart-error-empty-message{
    display: block;
    font-size:15px;
    color: map-get($base_vars,'color-secondary');
    text-align: center;
    svg{
      display: block;
      margin-bottom: 25px;
      width: 300px;
      margin : 0 auto;
      @include respond-to(mediumdevice){
        width: 416px;
      }
    }
  }
  .theme-cart-error-message-not-empty{
    display: none;
  }
  .theme-cart-quantity-error{
    color: map-get($default_vars,'color-form-error-message-text');
    margin-top:5px;
  }
}

.theme-header{
  .zpcontainer{
    .theme-navigation-and-icons{
      .theme-search-cart-non-res{
        &.theme-header-06-search-cart{
          margin-right: 0px;
          .theme-search-and-mini-cart-group-item{
            position: relative;
          }
        }
      }
    }
  }
}

// UPDATE AND DELETE CART LOADING KEYFRAMES STARTS
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
// UPDATE AND DELETE CART LOADING KEYFRAMES END


// HIDE BURGER ICON IN SMALL DEVICES FOR CART PAGE

@media all and (max-width : 768px){
  .theme-responsive-menu-area{
    &.theme-hide-burgericon-cart-mobile{
      display: none;
    }
  }
  .zpheader-style-02{
    .theme-header{
      &.theme-header-navigation-style{
        .zpcontainer{
          &.theme-responsive-menu-area{
            &.theme-hide-burgericon-cart-mobile{
              display: none;
            }
          }
        }
      }
    }
  }
  .zpheader-style-05{
    .theme-header{
      &.theme-header-navigation-style{
        .zpcontainer{
          &.theme-responsive-menu-area{
            &.theme-hide-burgericon-cart-mobile{
              display: none;
            }
          }
        }
      }
    }
  }
}